<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page - MCC 63</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-background-color">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MCC 63 Java</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/region}">Region</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/country}">Country</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="height: 20rem; background-color: #0a53be;">
         <div class="row">
             <div class="col-12 col-sm-6 col-lg-3" style="background-color: red;">
                 <div class="d-flex justify-content-between">
                     <h3>Judul Film</h3>
                     <p>2022-03-12</p>
                 </div>

                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at aut, culpa error iste</p>
             </div>
             <div class="col-12 col-sm-6 col-lg-3" style="background-color: yellow;">
                 <p>Content Grid</p>
             </div>
             <div class="col-12 col-sm-6 col-lg-3" style="background-color: green;">
                 <p>Content Grid</p>
             </div>
             <div class="col-12 col-sm-6 col-lg-3" style="background-color: purple;">
                 <p>Content Grid</p>
             </div>
         </div>
    </div>



    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>